@model  AboutInfo

    <div class="home-inner container" style="min-height:900px;">
        <div class="row">
            <div class="col-4">
                @Model.name<hr />
                @Model.adress<hr />
                Телефон: @Model.tel<hr />
                Факс: @Model.fax<hr />
                e-mail: @Model.email<hr />
                Менеджер: @Model.manager
            </div>
            <div class="col-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.9477642486045!2d72.80918930175875!3d60.74730026967674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4374907eafaf3e1b%3A0x4f0520b7ded68b42!2z0J_Ri9GC0Ywt0K_RhSwg0KXQsNC90YLRiy3QnNCw0L3RgdC40LnRgdC60LjQuSDQsNCy0YLQvtC90L7QvNC90YvQuSDQvtC60YDRg9Cz!5e0!3m2!1sru!2sru!4v1596125438552!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
