@model BidsListViewModel
    <div id="bid-menu" class="dark-overlay border-bottom border-danger pb-2">
        <div class="container home-inner">
            <div class="row">
                <div class="col-lg-8">
                    <div class="m-2 p-2 border border-primary rounded bg-light">
                        <p>Показать все заявки определенного статуса</p>
                        <form asp-action="All">
                            <select class="form-control d-inline" style="width: 200px;" name="StatusId">
                                <option selected="selected">Показать все</option>
                                @foreach (var st in Model.BidStatuses)
                                {
                                    <option value="@st.id" )>
                                        @st.name
                                    </option>
                                }
                            </select>
                            <button type="submit" class="btn btn-danger my-2 d-block">Показать</button>
                        </form>
                    </div>

                    <div class="m-2 p-2 border border-primary rounded bg-light">
                        <p>Показать заявки поступившие в определенный день</p>
                        <form asp-action="ConcreteDay">

                            <select class="form-control d-inline" style="width: 200px;" name="date_ofset">
                                <option selected="selected" value="0">Сегодня</option>
                                <option value="1">Вчера</option>
                                <option value="2">Позавчера</option>
                            </select>

                            <select class="form-control d-inline mx-2" style="width: 200px;" name="StatusId">
                                <option selected="selected">Показать все</option>
                                @foreach (var st in Model.BidStatuses)
                                {
                                    <option value="@st.id" )>
                                        @st.name
                                    </option>
                                }
                            </select>

                            <button type="submit" class="btn btn-danger my-2 d-block">Показать</button>
                        </form>
                    </div>

                    <div class="m-2 p-2 border border-primary rounded bg-light">
                        <p>Показать заявки поступившие некоторое время назад</p>
                        <form asp-action="LastDays">

                            <select class="form-control d-inline" style="width: 200px;" name="days_left">
                                <option selected="selected" value="7">Неделя</option>
                                <option value="30">Месяц</option>
                                <option value="90">3 Месяца</option>
                                <option value="360">Год</option>
                            </select>

                            <select class="form-control d-inline mx-2" style="width: 200px;" name="StatusId">
                                <option selected="selected">Показать все</option>
                                @foreach (var st in Model.BidStatuses)
                                {
                                    <option value="@st.id" )>
                                        @st.name
                                    </option>
                                }
                            </select>

                            <button type="submit" class="btn btn-danger my-2 d-block">Показать</button>
                        </form>
                    </div>

                    <div class="m-2 p-2 border border-primary rounded bg-light">
                        <p>Показать заявки поступившие в диапазоне дат</p>
                        <form asp-action="DateRange">
                            <input type="date" class="form-control d-inline" value="@DateTime.Today" style="width: 200px;" name="left_date" />

                            <input type="date" class="form-control d-inline mx-2" value="@DateTime.Today" style="width: 200px;" name="right_date" />

                            <select class="form-control d-inline" style="width: 200px;" name="StatusId">
                                <option selected="selected">Показать все</option>
                                @foreach (var st in Model.BidStatuses)
                                {
                                    <option value="@st.id" )>
                                        @st.name
                                    </option>
                                }
                            </select>

                            <button type="submit" class="btn btn-danger my-2  d-block">Применить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <div class="container pt-5">
            <div class="row">
                <div class="col">
                    <div class="card-columns">
                        @foreach (var b in Model.Bids)
                        {

                            <div class="card border-dark mb-3">
                                <a asp-action="Show" asp-route-id="@b.id">
                                    <div class="card-header">
                                        @b.create_date.ToShortDateString(), @b.create_date.DayOfWeek
                                    </div>
                                </a>
                                <div class="card-body" style="background-color: @b.status.color_code">
                                    <h4 class="card-title">@b.name</h4>
                                    <p class="card-text">@b.email</p>
                                    <form asp-action="Update" method="post">
                                        <input type="hidden" name="id" value="@b.id" />
                                        <input type="hidden" name="returnUrl" value="@ViewBag.r_url" />
                                        <div class="d-inline">
                                            <select style="width: 200px;" class="form-control d-inline" name="BidStatusId">
                                                @foreach (var st in Model.BidStatuses)
                                                {
                                                    <option selected=@(b.status?.id  == st.id) value="@st.id" )>
                                                        @st.name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                        <div class="my-2">
                                            <button type="submit" class="btn btn-dark">Сохранить</button>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        }
                    </div>

                </div>
            </div>

                <div class="container pb-3">
                    @if (ViewBag.ActionName == "All")
                    {
                        <div page-model="@Model.PagingInfo" page-action="@ViewBag.ActionName" page-classes-enabled="true" page-class="btn"
                                page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group pull-right m-1"
                                page-url-StatusId="@Model.FilterInfo.BidStatusId"></div>
                    }
                    else if (ViewBag.ActionName == "ConcreteDay")
                    {
                        <div page-model="@Model.PagingInfo" page-action="@ViewBag.ActionName" page-classes-enabled="true" page-class="btn"
                                page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group pull-right m-1"
                                page-url-date_ofset="@Model.FilterInfo.DateOfset" page-url-StatusId="@Model.FilterInfo.BidStatusId"></div>
                    }
                    else if (ViewBag.ActionName == "LastDays")
                    {
                        <div page-model="@Model.PagingInfo" page-action="@ViewBag.ActionName" page-classes-enabled="true" page-class="btn"
                                page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group pull-right m-1"
                                page-url-days_left="@Model.FilterInfo.DaysLeft" page-url-StatusId="@Model.FilterInfo.BidStatusId"></div>
                    }
                    else if (ViewBag.ActionName == "DateRange")
                    {
                        <div page-model="@Model.PagingInfo" page-action="@ViewBag.ActionName" page-classes-enabled="true" page-class="btn"
                                page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group pull-right m-1"
                                page-url-left_date="@Model.FilterInfo.LeftDate" page-url-right_date="@Model.FilterInfo.RightDate" page-url-StatusId="@Model.FilterInfo.BidStatusId"></div>
                    }
                </div>
            </div>
        </div>